body{
    background-color: #f8f9fa !important;
    font-family:'NotoSansCJKkr-Regular' !important;
}
.Greet{
    font-size:25px;
    margin: 30px 30px 0px 30px;
}
.Greet-disc{
    font-size: 40px;
    margin: 0px 30px 15px 30px;
}
.Log-form{
    margin-top: 40px;
    margin-right: 20px;
    margin-left:20px;
}
.Bot-button{
    color: white;
    margin-top: 18px;
    font-size:22px;
    font-weight: 700;
    letter-spacing:8px;
}
img{
    border-radius: 50%;
    width:200px;
}



.Bot-box{
    position: fixed;
    background-color: #7ED321;
    width: 100%;
    height: 70px;
    bottom:0
}

#signup1{
    display: block;
}

#signup2{
    display: none;
}